body {
    background-color: #f7dac7;
}

.retangulotitulo {
    background-color: #c09563;
    text-align: center;
    box-shadow: 0px 5px 20px #96744d;
    font-family: Arial, sans-serif;
    margin-top: 5%;
    text-align: center;
    padding: 1mm;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 15px;

}
.regras {
    width: 50px;
    margin-left: 450px;
    margin-top: -40px;
}