body {
    background-color: #f7dac7;
}

.containerTitulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 5%;
}

.retangulotitulo {
    background-color: #c09563;
    text-align: center;
    box-shadow: 0px 5px 20px #96744d;
    font-family: Arial, sans-serif;
    padding: 1mm;
    border-radius: 15px;
}
.regras {

    display: flex;
    max-width: 100px;
    max-height: 100px;
    justify-content: center;

}

